@model IEnumerable<Recharge_Mobile.Areas.User.Models.Views.TransactionModelView>
@{
    ViewBag.Title = "Transaction List";
    Layout = "~/Areas/User/Views/Shared/_LayoutUser.cshtml";
}


<!-- Transaction Table-->
<div class="col-lg-8 pb-5">
    <div class="d-flex justify-content-end pb-3">
        <div class="form-inline">
            <label class="text-muted mr-3" for="order-sort">Sort Transaction</label>
            <select class="form-control" id="order-sort">
                <option>All</option>
                <option>Delivered</option>
                <option>In Progress</option>
                <option>Delayed</option>
                <option>Canceled</option>
            </select>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover mb-0">
            <thead>
                <tr>
                    <th>Transaction #</th>
                    <th>Name</th>
                    <th>Date Purchased</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><a class="navi-link" href="#order-details" data-toggle="modal">@item.TransactionId</a></td>
                        <td>@item.PaymentMethod</td>
                        <td>@item.DateTime</td>
                        @*@switch (item.Status)
                            {
                                case "Success":
                                    <td><span class="badge badge-success m-0">Success</span></td>
                                    break;
                                case "Cancel":
                                    <td><span class="badge badge-danger m-0">Cancel</span></td>
                                    break;
                                case "Waiting":
                                    <td><span class="badge badge-warning m-0">Waiting</span></td>
                                    break;
                            }*@
                        <td><span class="badge badge-danger m-0">@item.Status</span></td>
                    </tr>
                }

                @*<tr>
                        <td><a class="navi-link" href="#order-details" data-toggle="modal">78A643CD409</a></td>
                        <td>August 08, 2017</td>
                        <td><span class="badge badge-danger m-0">Canceled</span></td>
                        <td><span>$760.50</span></td>
                    </tr>*@
            </tbody>
        </table>
    </div>
</div>

