
<!-- Footer-->
<footer class="bg-dark pt-5">
    <div class="container pt-2">
        <div class="row">
            <div class="col-lg-3 pb-4 mb-2">
                <a class="navbar-brand d-inline-block mb-4" href="index.html"><img src="~/Content/img/logo/logo-light.png" alt="CreateX"></a>
                <p class="text-sm text-white opacity-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Utar enim ad minim veniam.</p>
                <ul class="list-icon text-sm pb-2">
                    <li>
                        <i class="fe-icon-map-pin text-white opacity-60"></i><a class="navi-link text-white" href="#">
                            &nbsp;214 Nguyen Dinh Chieu, Ward 6, District 3, Ho Chi Minh City,Viet Nam
</a>
                    </li>
                    <li>
                        <i class="fe-icon-phone text-white opacity-60"></i><a class="navi-link text-white" href="tel:+8418001779">
                            &nbsp;+84 1800 1779
</a>
                    </li>
                    <li>
                        <i class="fe-icon-mail text-white opacity-60"></i><a class="navi-link text-white" href="mailto:rechargeX@example.com">
                            &nbsp;rechargeX@example.com
</a>
                    </li>
                </ul><a class="social-btn sb-style-6 sb-facebook sb-light-skin" href="#"><i class="socicon-facebook"></i></a><a class="social-btn sb-style-6 sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a><a class="social-btn sb-style-6 sb-youtube sb-light-skin" href="#"><i class="socicon-youtube"></i></a><a class="social-btn sb-style-6 sb-instagram sb-light-skin" href="#"><i class="socicon-instagram"></i></a>
            </div>
            <div class="col-lg-6">
                <div class="widget widget-light-skin mb-0">
                    <h4 class="widget-title">Useful Links</h4>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="widget widget-categories widget-light-skin">
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Our Story</a></li>
                                <li><a href="#">Careers at CreateX</a></li>
                                <li><a href="#">Services We Provide</a></li>
                                <li><a href="#">Latest News</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="widget widget-categories widget-light-skin">
                            <ul>
                                <li><a href="#">Help Center</a></li>
                                <li><a href="#">My Account Info</a></li>
                                <li><a href="#">Affiliate Program</a></li>
                                <li><a href="#">Office Directory</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget widget-light-skin">
                    <h4 class="widget-title">Our mobile app</h4><a class="market-btn apple-btn market-btn-light-skin mr-3 mb-3" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">App Store</span></a><a class="market-btn google-btn market-btn-light-skin mr-3 mb-3" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">Google Play</span></a><a class="market-btn windows-btn market-btn-light-skin mr-3 mb-3" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">Windows Store</span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Subscription-->
    <div class="pt-5" style="background-color: #30363d;">
        <div class="container">
            <div class="d-md-flex justify-content-between align-items-center py-4 text-center text-md-left">
                <div class="order-2"><a class="footer-link text-white" href="#">About</a><a class="footer-link text-white ml-3" href="#">Help &amp; Info</a><a class="footer-link text-white ml-3" href="#">Privacy Policy</a></div>
                <p class="m-0 text-sm text-white order-1"><span class='opacity-60'>© All rights reserved. Made with</span> <i class='d-inline-block align-middle fe-icon-heart text-danger'></i> <a href='http://createx.studio/' class='d-inline-block nav-link text-white opacity-60 p-0' target='_blank'>by Createx Studio</a></p>
            </div>
        </div>
    </div>
</footer>
