<header class="navbar-wrapper navbar-sticky">
    <div class="d-table-cell align-middle pr-md-3"><a class="navbar-brand mr-1" href="index.html"><img src="~/Content/img/logo/logo-dark.png" alt="CreateX" /></a></div>
    <div class="d-table-cell w-100 align-middle pl-md-3">
        <div class="navbar-top d-none d-lg-flex justify-content-between align-items-center">
            <div><a class="navbar-link mr-3" href="tel:+1212477690000"><i class="fe-icon-phone"></i>+1 (212) 477 690 000</a><a class="navbar-link mr-3" href="mailto:support@example.com"><i class="fe-icon-mail"></i>support@example.com</a><a class="social-btn sb-style-3 sb-twitter" href="#"><i class="socicon-twitter"></i></a><a class="social-btn sb-style-3 sb-facebook" href="#"><i class="socicon-facebook"></i></a><a class="social-btn sb-style-3 sb-pinterest" href="#"><i class="socicon-pinterest"></i></a><a class="social-btn sb-style-3 sb-instagram" href="#"><i class="socicon-instagram"></i></a></div>
            <div>
                <ul class="list-inline mb-0">
                    <li class="dropdown-toggle mr-2">
                        <a class="navbar-link" href="account-login.html"><i class="fe-icon-user"></i>Login or Create account</a>
                        <div class="dropdown-menu right-aligned p-3 text-center" style="min-width: 200px;">
                            <p class="text-sm opacity-70">Sign in to your account or register new one to have full control over your orders, receive bonuses and more.</p><a class="btn btn-primary btn-sm btn-block" href="account-login.html">Sign In</a>
                            <p class="text-sm text-muted mt-3 mb-0">New customer? <a href='account-login.html'>Register</a></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navbar justify-content-end justify-content-lg-between">
            <!-- Search-->
            <form class="search-box" method="get">
                <input type="text" id="site-search" placeholder="Type A or C to see suggestions"><span class="search-close"><i class="fe-icon-x"></i></span>
            </form>
            <!-- Main Menu-->
            <ul class="navbar-nav d-none d-lg-block">
                <!--Home-->
                <li class="nav-item"><a class="nav-link" href="components.html">Home</a></li>
                <!--Account-->
                @*<li class="nav-item"><a class="nav-link" href="components.html">Account</a></li>*@
                <!--Post Bill Payment-->
                <li class="nav-item"><a class="nav-link" href="components.html">Post Bill Payment</a></li>
                <!--Site Map-->
                <li class="nav-item"><a class="nav-link" href="components.html">Site Map</a></li>
                <!--FeedBack-->
                <li class="nav-item"><a class="nav-link" href="components.html">Feedback</a></li>
                <!--About Us-->
                <li class="nav-item"><a class="nav-link" href="components.html">About Us</a></li>
                <!--Contact Us-->
                <li class="nav-item"><a class="nav-link" href="components.html">Contact Us</a></li>
                <!-- Customer Care-->
                @*<li class="nav-item"><a class="nav-link" href="components.html">Customer Care</a></li>*@
            </ul>
        </div>
    </div>
</header>