
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangePassword</h2>

<form>
    <table>
        <tr>
            <td style="width:150px;">Old Password: </td>
            <td style="width:200px;">
                <input type="text" id="CurrentPassword" name="CurrentPassword" required />
            </td>
            <td>
                <span id="check_current_pass_id" style="display:none;color:red;">Password must have 8-50 characters!</span>
                <span id="check_current_pass_match_id" style="display:none;color:red;">Password is not right!</span>
            </td>
        </tr>
        <tr>
            <td>New Password: </td>
            <td>
                <input type="text" id="NewPassword" name="NewPassword" required />
            </td>
            <td>
                <span id="check_new_pass_id" style="display:none;color:red;">Password must have 8-50 characters!</span>
            </td>
        </tr>
        <tr>
            <td>Confirm Password: </td>
            <td>
                <input type="text" id="ConfirmPassword" name="ConfirmPassword" required />
            </td>
            <td>
                <span id="check_confirm_pass_id" style="display:none;color:red;">Password must have 8-50 characters!</span>
                <span id="WrongPass" name="WrongPass" style="display:none;color:red;">New password and confirm password are not the same!</span>
            </td>
        </tr>
        <tr>
            <td colspan="3"><button type="submit" id="SubmitForm">submit</button></td>
        </tr>
    </table>
        
</form>

@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            var pass = "";
            var confirmPass = "";
            var regPass = new RegExp(".{8,50}");
            var curPassMatch = false;
            var curPassFormat = false;
            var newPassFormat = false;
            var conPassMatch = false;

            $("#CurrentPassword").keyup(function () {
                if (regPass.test($(this).val()) == false) {
                    $("#check_current_pass_id").css("display", "block");
                    $("#check_current_pass_match_id").css("display", "none");
                    curPassFormat = false;
                    $("#SubmitForm").attr("disabled", true);                   
                }
                else {
                    $("#check_current_pass_id").css("display", "none");                    
                    curPassFormat = true;
                    if (curPassMatch && curPassFormat && newPassFormat && conPassMatch) {
                        $("#SubmitForm").attr("disabled", false);
                    }
                    $.ajax({
                        url: 'CheckCurrentPassword',
                        method: "post",
                        data: {
                            //change dynamic id
                            id: 1,
                            password: $(this).val()
                        },
                        success: function (response) {
                            if (response == 1) {
                                $("#check_current_pass_match_id").css("display", "none");
                                curPassMatch = true;
                                if (curPassMatch && curPassFormat && newPassFormat && conPassMatch) {
                                    $("#SubmitForm").attr("disabled", false);
                                }
                            }
                            else {
                                $("#check_current_pass_match_id").css("display", "block");
                                curPassMatch = false;
                                $("#SubmitForm").attr("disabled", true);
                            }
                        }
                    });
                }
            });

            $("#NewPassword").keyup(function () {
                if (regPass.test($(this).val()) == false) {
                    $("#check_new_pass_id").css("display", "block");
                    newPassFormat = false;
                    $("#SubmitForm").attr("disabled", true);                }
                else {
                    $("#check_new_pass_id").css("display", "none");                    
                    newPassFormat = true;
                    if (curPassMatch && curPassFormat && newPassFormat && conPassMatch) {
                        $("#SubmitForm").attr("disabled", false);
                    }
                }

                if ($(this).val() != confirmPass) {
                    $("#WrongPass").css("display", "block");
                    conPassMatch = false;
                    $("#SubmitForm").attr("disabled", true);
                }
                else {
                    $("#WrongPass").css("display", "none");
                    conPassMatch = true;
                    if (curPassMatch && curPassFormat && newPassFormat && conPassMatch) {
                        $("#SubmitForm").attr("disabled", false);
                    }
                }
                pass = $(this).val();
            });

            $("#ConfirmPassword").keyup(function () {
                if ($(this).val() != pass) {
                    $("#WrongPass").css("display", "block");
                    conPassMatch = false;
                    $("#SubmitForm").attr("disabled", true);                   
                }
                else {
                    $("#WrongPass").css("display", "none");
                    conPassMatch = true;
                    if (curPassMatch && curPassFormat && newPassFormat && conPassMatch) {
                        $("#SubmitForm").attr("disabled", false);
                    }
                }
                confirmPass = $(this).val();
            });
        });

    </script>
}
