
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangePassword</h2>

<form>
    <input type="text" name="CurrentPassword" pattern=".{8,50}" title="Password must have 8-10 characters!" required/>
    <input type="text" name="NewPassword" pattern=".{8,50}" title="Password must have 8-10 characters!" required/>
    <input type="text" name="ConfirmPassword" pattern=".{8,50}" title="Password must have 8-10 characters!" onkeydown="" required/>
</form>

@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $("#ConfirmPassword").keydown(function () {
                $.ajax({

                });
            });
        });

    </script>
}
