
@{
    ViewBag.Title = "CheckoutReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Title-->
<div class="page-title d-flex" aria-label="Page title" style="background-image: url(img/page-title/shop-pattern.jpg);">
    <div class="container text-left align-self-center">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="shop-boxed-ls.html">Shop</a>
                </li>
            </ol>
        </nav>
        <h1 class="page-title-heading">Checkout</h1>
    </div>
</div>
<!-- Page Content-->
<div class="container pb-4 mb-2">
    <div class="row">
        <!-- Checkout: Review-->
        <div class="col-xl-9 col-lg-8 pb-5">
            <div class="wizard">
                <div class="wizard-body">
                    <h3 class="h5 pb-3">Review Your Order</h3>
                    <!-- Item-->
                    <div class="cart-item d-md-flex justify-content-between pr-2">
                        <div class="px-3 my-3">
                            <a class="cart-item-product" href="shop-single.html">
                                <div class="cart-item-product-thumb"><img src="img/shop/cart/01.jpg" alt="Product"></div>
                                <div class="cart-item-product-info">
                                    <h4 class="cart-item-product-title">Canon EOS M50 Mirrorless Camera</h4><span><strong>Type:</strong> Mirrorless</span><span><strong>Color:</strong> Black</span>
                                </div>
                            </a>
                        </div>
                        <div class="px-3 my-3 text-center">
                            <div class="cart-item-label">Quantity</div><span class="text-xl font-weight-medium">1</span>
                        </div>
                        <div class="px-3 my-3 text-center">
                            <div class="cart-item-label">Subtotal</div><span class="text-xl font-weight-medium">$910.00</span>
                        </div>
                    </div>
                    <div class="text-right pb-4"><span class="text-muted">Subtotal:</span><span class="text-xl font-weight-medium">&nbsp;$2,548.50</span></div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4 class="h6">Payment method:</h4>
                            <ul class="list-unstyled">
                                <li><span class="text-muted">Credit Card:&nbsp;</span>**** **** **** 5300</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="wizard-footer d-flex justify-content-between"><a class="btn btn-secondary my-2" href="checkout-payment.html"><i class="fe-icon-arrow-left"></i><span class="d-none d-sm-inline-block">Back</span></a><a class="btn btn-primary my-2" href="checkout-complete.html">Complete Order</a></div>
            </div>
        </div>
    </div>
</div>

