
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hero-->
<section class="bg-parallax bg-secondary py-5 mb-5">
    <div class="bg-parallax-img" data-parallax="{&quot;y&quot; : 100}">
        <img src="~/Content/img/pages/about-hero-bg.png" alt="Parallax Background" />
    </div>
    <div class="container bg-parallax-content py-5 my-3 text-center">
        <h1 class="pb-4">RechargeX<span class='d-block h2 font-weight-normal text-muted mt-3'>Mobile recharge: send credit, data and paid bill to any phone</span></h1><a class="scroll-to btn btn-gradient" href="#services">Learn More</a>
    </div>
</section>
<!-- Contact Form-->
<section class="container mb-5 pb-3">
    <div class="wizard">
        <div class="wizard-body pt-3 text-center">
            <img src="~/Content/img/pages/success-icon.png" style="width:120px;height:120px;" /><br /><br/>
            <p><strong>Thank you for getting in touch!</strong></p>
            <p>We appreciate you contacting us. One of our colleagues will get back in touch with you soon!<br /> Have a great day!</p>
        </div>
    </div>
</section>

