@{
    ViewBag.Title = "Home Page";
}

<section class="container my-5">
    <div class="bg-secondary px-3 py-5">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10 pt-3 text-center">
                <h2 class="h3 block-title mb-3">Recharge Mobile </h2>
                <p class="text-muted">Mobile recharge: send credit, data and paid bill to any phone</p>
                <input type="text" class="form-control" id="phonenumber" placeholder="Enter your phone number" /> <br/>      
                <a href="#" type="submit" class="btn btn-gradient ml-3 d-none d-xl-inline-block">Start Recharge</a>
            </div>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-md-4">
        <h3>What is Recharge</h3>
        <p>
            No matter how many borders you cross, thanks to Recharge’s fast and safe service, you’ll easily stay in touch with one another. 
            Recharge yours or someone else’s call credit or data 24/7 in over 140 countries. 
            Depending on the product you choose, we’ll directly send the credit to your phone or as a recharge code by email. 
            We make sure you’ll always stay connected.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>How does the mobile recharge work?</h3>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Make safe and secure payments</h3>
        <p>We make sure the information you give is secured</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>