
@{
    ViewBag.Title = "Post Bill Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Title-->
<div class="page-title d-flex" aria-label="Page title" style="background-image: url(img/page-title/shop-pattern.jpg);">
    <div class="container text-left align-self-center">
        <h1 class="page-title-heading">Checkout</h1>
    </div>
</div>
<!-- Page Content-->
<div class="container pb-4 mb-2">
    <div class="row">
        <!-- Checkout: Payment-->
        <div class="col-xl-9 col-lg-8 pb-5">
            <div class="wizard">
                @*<div class="wizard-steps d-flex flex-wrap flex-sm-nowrap justify-content-between">
                        <a class="wizard-step" href="checkout-address.html"><i class="fe-icon-check-circle"></i>1. Address</a><a class="wizard-step" href="checkout-shipping.html"><i class="fe-icon-check-circle"></i>2. Shipping</a>
                        <div class="wizard-step active">3. Payment</div><a class="wizard-step" href="checkout-review.html">4. Review</a>
                    </div>*@
                <div class="wizard-body">
                    <h3 class="h5 pb-3">Choose Payment Method</h3>
                    <div class="accordion accordion-style-2" id="accordion" role="tablist">
                        <div class="card">
                            <div class="card-header" role="tab">
                                <h6><a class="pl-0" href="#card" data-toggle="collapse"><i class="fe-icon-credit-card"></i>Pay with Credit Card</a></h6>
                            </div>
                            <div class="collapse show" id="card" data-parent="#accordion" role="tabpanel">
                                <div class="card-body px-0">
                                    <p>We accept following credit cards:&nbsp;&nbsp;<img class="d-inline-block align-middle" src="~/Content/img/credit-cards.png" style="width: 120px;" alt="Cerdit Cards"></p>
                                    <div class="card-wrapper"></div>
                                    @using (Html.BeginForm("CardTransaction", "Home", FormMethod.Post, new { @class = "interactive-credit-card row" }))
                                    {
                                        <div class="form-group col-sm-6">
                                            <input class="form-control" type="text" name="number" placeholder="Card Number" required>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <input class="form-control" type="text" name="name" placeholder="Full Name" required>
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <input class="form-control" type="text" name="expire" placeholder="MM/YY" required>
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <input class="form-control" type="text" name="cvc" placeholder="CVC" required>
                                        </div>
                                        <div class="col-sm-6">
                                            <button class="btn btn-primary btn-block mt-0" type="submit">Submit</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        @*<div class="card">
                            <div class="card-header" role="tab">
                                <h6><a class="collapsed pl-0" href="#paypal" data-toggle="collapse"><i class="socicon-paypal"></i>Pay with PayPal</a></h6>
                            </div>
                            <div class="collapse" id="paypal" data-parent="#accordion" role="tabpanel">
                                <div class="card-body px-0">
                                    <p><strong>PayPal</strong> - the safer, easier way to pay</p>
                                    <a href="@Url.Action("PaymentWithPaypal", "PayPal", new { Area = "Recharge" })" class="btn btn-primary my-2 form-control">Login</a>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
                <div class="wizard-footer d-flex justify-content-between">
                    <a class="btn btn-secondary my-2" href="javascript:history.go(-1)">
                        <i class="fe-icon-arrow-left"></i>
                        <span class="d-none d-sm-inline-block">Back</span>
                    </a>
                    <a class="btn btn-primary my-2" href="@Url.Action("TransactionReview", "Recharge", new { Area = "Recharge" })">
                        <span class="d-none d-sm-inline-block">Continue</span>
                        <i class="fe-icon-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Sidebar-->
        <aside class="col-xl-3 col-lg-4 pb-4 mb-2">
            <!-- Order Summary-->
            <div class="widget">
                <h4 class="widget-title">Order Summary</h4>
                <div class="d-flex justify-content-between pb-2">
                    <div>Cart subtotal:</div>
                    <div class="font-weight-medium">$@TempData["TotalAmount"]</div>
                </div>
                <div class="d-flex justify-content-between pb-2">
                    <div>Tax:</div>
                    <div class="font-weight-medium">$0</div>
                </div>
                <hr>
                <div class="pt-3 text-right text-lg font-weight-medium">$@TempData["TotalAmount"]</div>
            </div>
        </aside>
    </div>
</div>

