
@{
    ViewBag.Title = "SiteMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><h3 style="color: purple; text-align: center">Site Map</h3>

      <div class="container">
          <img src="~/Content/img/SiteMap.png" alt="SiteMap" />
           
      </div>

